@media only screen and (max-width: 600px) {
    .img-fluid {
        max-width: 120%;
        margin: 0 auto;
    }
    h1.display-5.fw-bold.lh-1.mb-3 {
        text-align: center;
    }
  }


h2.pb-2.border-bottom.display-5.fw-bold.text-center {
    margin-bottom: 50px;
}

h2.pb-2.border-bottom.display-5.fw-bold.text-center {
    margin-top: 100px;
}


img.card-img {
    object-fit: fill;
    object-position: center center;
    height: 100%;
}

.divider {
    margin-bottom: 200px;
}

select#filter-type {
    border-color: blue;
}

